name: Release

on:
  create:
    tags:
      - "*"
  push:
    branches: [master]
    paths:
      - '.github/workflows/release.yml'
      - 'Safeturned.Loader/**'
      - 'Safeturned.Module/**'
      - 'Safeturned.PluginInstaller/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: 8.0.x

      - name: Build Safeturned.Loader
        uses: ./.github/actions/project-build
        id: loader-build
        with:
          project_path: Safeturned.Loader
          project_name: Safeturned.Loader

      - name: Build Safeturned.Module
        uses: ./.github/actions/project-build
        id: module-build
        with:
          project_path: Safeturned.Module
          project_name: Safeturned.Module

      - name: Build Safeturned.PluginInstaller
        uses: ./.github/actions/project-build
        id: installer-build
        with:
          project_path: Safeturned.PluginInstaller
          project_name: Safeturned.PluginInstaller

      - name: Upload Safeturned.Loader
        uses: actions/upload-artifact@v5
        with:
          name: Safeturned.Loader
          path: ./Safeturned.Loader/bin/Release/net48/Safeturned.Loader/
          if-no-files-found: error

      - name: Upload Safeturned.Module
        uses: actions/upload-artifact@v5
        with:
          name: Safeturned.Module
          path: ./Safeturned.Module/bin/Release/net48/Safeturned.Module/
          if-no-files-found: error

      - name: Upload Safeturned.PluginInstaller
        uses: actions/upload-artifact@v5
        with:
          name: Safeturned.PluginInstaller
          path: |
            ./Safeturned.PluginInstaller/bin/Release/net48/Safeturned.PluginInstaller.dll
            ./Safeturned.PluginInstaller/bin/Release/net48/Safeturned.PluginInstaller.pdb
          if-no-files-found: error

      - name: Zip Safeturned.Loader
        run: cd ./Safeturned.Loader/bin/Release/net48/Safeturned.Loader && zip -qq -r Safeturned.Loader.zip *

      - name: Zip Safeturned.Module
        run: cd ./Safeturned.Module/bin/Release/net48/Safeturned.Module && zip -qq -r Safeturned.Module.zip *

      - name: Zip Safeturned.PluginInstaller
        run: cd ./Safeturned.PluginInstaller/bin/Release/net48 && zip -qq Safeturned.PluginInstaller.zip Safeturned.PluginInstaller.dll Safeturned.PluginInstaller.pdb

      - name: Create Release
        if: github.event_name == 'create' && github.event.ref_type == 'tag'
        uses: ncipollo/release-action@v1
        with:
          name: Release v${{ steps.loader-build.outputs.version }}
          tag: ${{ steps.loader-build.outputs.version }}
          artifacts: |
            ./Safeturned.Loader/bin/Release/net48/Safeturned.Loader/Safeturned.Loader.zip
            ./Safeturned.Module/bin/Release/net48/Safeturned.Module/Safeturned.Module.zip
            ./Safeturned.PluginInstaller/bin/Release/net48/Safeturned.PluginInstaller.zip
          token: ${{ secrets.PAT || secrets.GITHUB_TOKEN }}
          prerelease: ${{ steps.loader-build.outputs.is_prerelease }}
          allowUpdates: true
          draft: true
